{
	debug
	http_port 10080
	https_port 10443
	default_bind [127.0.0.1]

	email "alxandr@alxandr.me"

	layer4 {
		0.0.0.0:80 {
			@headscale http host headscale.alxandr.me
			route @headscale {
				proxy 127.0.0.1:10080
			}

			route {
				proxy {
					proxy_protocol v2
					upstream 10.252.0.7:80
				}
			}
		}

		0.0.0.0:443 {
			@headscale tls sni headscale.alxandr.me
			route @headscale {
				proxy 127.0.0.1:10443
			}

			route {
				proxy {
					proxy_protocol v2
					upstream 10.252.0.7:443
				}
			}
		}
	}
}

headscale.alxandr.me {
	reverse_proxy http://127.0.0.1:8080
}
