{
	debug
	http_port 10080
	https_port 10443
	default_bind [127.0.0.1]

	email "alxandr@alxandr.me"

	layer4 {
		0.0.0.0:80 {
			route {
				proxy {
					proxy_protocol v2
					upstream 10.252.0.7:80
				}
			}
		}

		0.0.0.0:443 {
			@relay tls sni relay.netbird.alxandr.me
			route @relay {
				proxy 127.0.0.1:33080
			}

			route {
				proxy {
					proxy_protocol v2
					upstream 10.252.0.7:443
				}
			}
		}
	}
}
