global
    log stdout format raw local0

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client  1m
    timeout server  1m

frontend http
    bind :80
    default_backend http_backend

backend http_backend
    server main 10.252.0.7:80 send-proxy-v2

frontend https
    bind :443

    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }

    # use_backend relay if { req.ssl_sni -i relay.netbird.alxandr.me }
    default_backend https_backend

# backend relay
#     server relay 127.0.0.1:33080

backend https_backend
    server main 10.252.0.7:443 send-proxy-v2
